body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

.btn {
    padding: 1rem;
}

.row {
    margin: 0 auto;
}

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: #ffffff;
    color: black;
}

/* 
* Headings
* ------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.big-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 2rem;
    line-height: 1.5;
}

/* 
* Navbar
* ------------------------------------------------ */
header .container-fluid {
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 0.5rem;
}

.nav-item {
    padding: 1.25rem;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 600;
}

/* 
* Intro section
* ------------------------------------------------- */
#intro .container-fluid {
    padding-top: 4%;
}

#intro-heading {
    margin-bottom: 8%;
}

.app-img-container {
    position: relative;
}

.app-img {
    width: 62%;
    margin: 10% 0;
    transform: rotate(0);
}

/* 
* Features section
* ------------------------------------------------ */
#features {
    position: relative;
    z-index: 1;
}

.feature-box {
    padding: 5%;
}

.feature-text {
    color: #8f8f8f;
}

.feature-icon {
    color: #ff6a59;
    font-size: 3rem;
}

.feature-icon:hover {
    color: #ff3352;
}

/* 
* Testimonials section
* ------------------------------------------------- */
#testimonials {
    background-color: #ff6a59;
}

.testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
}

.testimonial-img {
    width: 8rem;
    border-radius: 100%;
    margin: 1.25rem;
}

/* 
* Press section
* ------------------------------------------------- */
#press {
    background-color: #ff6a59;
}

#press .container-fluid {
    padding: 0 0 7%;
}

.press-logo {
    width: 14rem;
    margin: 1.25rem;
}

/* 
* Pricing section
* ------------------------------------------------- */
.pricing-plans {
    margin-top: 3rem;
    gap: 1.5rem 0;
}

.card-body {
    padding: 10%;
}

.card-body ul {
    margin: 5% 0 10%;
}

.plan-name {
    font-weight: 400;
    margin: 2%;
}

.plan-price {
    font-size: 2rem;
    font-weight: 600;
}

/* 
* CTA section
* ------------------------------------------------- */
#cta-heading {
    margin-bottom: 6%;
}

#cta .row {
    justify-content: center;
}

/* 
* Footer
* ------------------------------------------------- */
footer ul {
    justify-content: center;
}

.social-icon {
    font-size: 1.25rem;
    margin: 1.25rem;
}
/* 
* Media queries
* ------------------------------------------------- */
@media (min-width: 992px) {
    #intro-heading {
        text-align: left;
    }
    .big-heading {
        font-size: 3rem;
    }
    .section-heading,
    .testimonial-text,
    .plan-price {
        font-size: 2.25rem;
    }
    .navbar-brand {
        font-size: 2.5rem;
    }

    footer .container-fluid {
        padding: 3% 15% 2%;
    }
}

@media (min-width: 1200px) {
    .app-img {
        position: absolute;
        transform: rotate(20deg);
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
