body {
    font-family: "Montserrat", sans-serif;
}

.container-fluid {
    padding: 2% 15%;
}

header,
#intro {
    color: #ffffff;
    background-color: #ff4c68;
}

/* 
* Navbar styles
* ------------------------------------------------ */
.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}
/* ------------------------------------------------ */

h1 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

/* 
* Download buttons styles
* ------------------------------------------------ */
.download-btn {
    margin-top: 5%;
    padding: 1rem;
}

.download-btn:first-of-type {
    margin-right: 4%;
}
/* ------------------------------------------------ */
