body {
    font-family: "Montserrat", sans-serif;
}

.container-fluid {
    padding: 2% 15%;
}

header,
#intro {
    color: #ffffff;
    background-color: #ff4c68;
}

h1 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
